<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ship</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainMenu</servlet-name>
    <servlet-class>com.javapapers.java.social.facebook.MainMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenu</servlet-name>
    <url-pattern>/fbhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/Servlets.ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>LoginManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/Servlets.LoginManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarryPacket</servlet-name>
    <servlet-class>CarryPacket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarryPacket</servlet-name>
    <url-pattern>/Servlets.CarryPacket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendPacket</servlet-name>
    <servlet-class>SendPacket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPacket</servlet-name>
    <url-pattern>/Servlets.SendPacket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightTracker</servlet-name>
    <servlet-class>FlightTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightTracker</servlet-name>
    <url-pattern>/Servlets.FlightTracker</url-pattern>
  </servlet-mapping>
</web-app>